*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  font-size:small; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}



.navbar{
  align-items: center;
}
.bg-myRed{
  background-color: #2d425a;
}

nav{
  align-items: center;
}

.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}

.content{
  padding: 12px;
  height: 3000px;
}

.coloring{
  color: black;
}

.App {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  background-color: #e2e1e1;
  /* position: absolute; */
}

.card-deck{
  display: grid;
  grid-template-columns: auto auto auto;
  padding:10px 15px 15px;
  
  
  


}

.inner {
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.expand-button{
  background-color: #88A1BD; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h2{
  font-weight: lighter;
  font-size: 4rem;
}